OPENAI_API_KEY=
OPENAI_MODEL=
EMB_MODEL=
CHROMA_DIR=

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

BACKEND_API_URL=
TO=
FROM=
STATIC_MASTER_API_KEY=


SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=



SENDGRID_API_KEY=
SENDGRID_SMTP_API_KEY=

TAVILY_API_KEY=

DATABASE_URL_PROD=
DATABASE_URL_DEV=

SENTRY_BACKEND_DSN=

LANGFUSE_SECRET_KEY= 
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
