fastapi
uvicorn[standard]
python-multipart
sentence-transformers
chromadb
pdfplumber
openai
python-dotenv
icecream
unstructured[pdf]
unstructured-inference
langchain-core
langchain-openai
langchain
langchain-text-splitters
PyPDF2